<div class="container-pnl">
  <div class="chat-model">
    <select [(ngModel)]="modelSelected" [class.dark]="darkMode()" (ngModelChange)="changeModel()" onchange="document.querySelector('input').focus()">
    @for (model of models(); track $index) {
      <option>{{model}}</option>
    }
    </select>
    Contexto: {{contextoId()}}
  </div>

  <div class="chat-container">
    <div #panelMsg class="messages-container">
      @for (message of messages(); track $index) {
        <div [className]="message.user === 'Tú' ? 'message' : 'message-bot'">
          @if (message.user === 'Tú') {
            <img src="user.png" class="img-avatar" width="40" height="40" />
            <span class="name-avatar">:{{ message.user }}</span>
          } @else {
            <img src="robot.png" class="img-avatar" width="40" height="40" />
            @if (textToSpeechSvc.speaking()) {
              <a href="javascript:void(0);" (click)="textToSpeechSvc.stop()">🔇</a>
            } @else {
              <a href="javascript:void(0);" (click)="textToSpeechSvc.speak(message.text)" >🔈</a>
            }
            <span class="name-avatar">{{ message.user }}:</span>
          }
          <markdown
            clipboard
            lineNumbers
            [class]="[message.user === 'Tú' ? '' : 'bot', darkMode() ? 'dark' : '']"
            [data]="message.text">
          </markdown>
        </div>
      } @empty {
        <div>No hay mensajes</div>
      }
    </div>
    <div class="input-container" [class]="[darkMode() ? 'dark' : '']">
      <div class="system-prompt" [class.oculto]="!showSystemPrompt()">
        <input [class.dark]="darkMode()" autocomplete="off" [(ngModel)]="systemPrompt" placeholder="Prompt del sistema..." />
        <button (click)="changeDarkLightMode()" title="Día/Noche">🌞🌒</button>
      </div>
      <div class="adjunto" [class.oculto]="!showSystemPrompt()">
        <input [class.dark]="darkMode()" type="file" (change)="onFileSelected($event)" placeholder="Subir archivo..." />
      </div>
      <div>
        <input id="prompt" autocomplete="off" [class.dark]="darkMode()" autofocus [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Escribe un mensaje..." />
        <button (click)="sendMessage()" onclick="document.querySelector('#prompt').focus()">Enviar</button>
        <button (click)="showSystemPrompt.set(!showSystemPrompt())" title="Configuraciones">⚙️</button>
        <button class="stop" (click)="stop()" title="Detener la conversación" onclick="document.querySelector('#prompt').focus()">✋</button>
        <button class="clear" (click)="clear()" title="Borrar historial" onclick="document.querySelector('#prompt').focus()">Limpiar</button>
      </div>
    </div>
  </div>
</div>
<router-outlet />
