
<div class="container-pnl">
  <div class="chat-model">
    <select [(ngModel)]="modelSelected" (ngModelChange)="clear()" onchange="document.querySelector('input').focus()">
    @for (model of models(); track $index) {
      <option>{{model}}</option>
    }
    </select>
    Contexto: {{contextoId()}}
  </div>

  <div class="chat-container">
    <div #panelMsg class="messages-container">
      @for (message of messages(); track $index) {
        <div [className]="message.user === 'Tú' ? 'message' : 'message-bot'">
          @if (message.user === 'Tú') {
            <img src="user.png" class="img-avatar" width="40" height="40" />
            <span class="name-avatar">:{{ message.user }}</span>
          } @else {
            <img src="robot.png" class="img-avatar" width="40" height="40" />
            <span class="name-avatar">{{ message.user }}:</span>
          }
          <markdown [className]="message.user === 'Tú' ? '' : 'bot'" [data]="message.text"></markdown>
        </div>
      } @empty {
        <div>No hay mensajes</div>
      }
    </div>
    <div class="input-container">
      <div class="system-prompt" [class.oculto]="!showSystemPrompt()">
        <input [(ngModel)]="systemPrompt" placeholder="Prompt del sistema..." />
      </div>
      <div>
        <input id="prompt" autofocus [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Escribe un mensaje..." />
        <button (click)="sendMessage()" onclick="document.querySelector('#prompt').focus()">Enviar</button>
        <button (click)="showSystemPrompt.set(!showSystemPrompt())" title="Configuraciones">⚙️</button>
        <button class="stop" (click)="stop()" title="Detener la conversación" onclick="document.querySelector('#prompt').focus()">✋</button>
        <button class="clear" (click)="clear()" title="Borrar historial" onclick="document.querySelector('#prompt').focus()">Limpiar</button>
      </div>
    </div>
  </div>
</div>
<router-outlet />
