.container-pnl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.chat-model {
  width: 1000px;
}

.chat-container {
  width: 1000px;
  height: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .chat-container {
    width: 100%;
  }

  .chat-model {
    width: 100%;
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  //background-color: #f9f9f9;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  margin-bottom: 10px;
}

.message-bot {
  margin-bottom: 10px;
}

.name-avatar {
  vertical-align: top;
}

.img-avatar {
  vertical-align: top;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #eee;
  border-radius: 0 0 10px 10px;
}

markdown {
  display: inline-block;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0px 10px;
  text-align: left;
}

markdown.bot {
  background-color: honeydew;
}

input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button.clear {
  background-color: #dc3545;
}

button.clear:hover {
  background-color: #bd2130;
}
